<template>
  <div id="contactPage">
    <v-container>
      <div class="text-h3 text-lighten text-center">
        {{($route.name == "Ser-Distribuidor") ? 'Quiero ser distribuidor' : 'Contacto'}}
      </div>
      <form @submit.prevent="sendMessage">
        <v-alert v-if="showError" type="error">{{msgError}}</v-alert>
        <v-alert v-if="showOk" type="success">Mensaje enviado, pronto estaremos en contacto contigo.</v-alert>
        <v-text-field name="name" v-model="name" label="Nombre" />
        <v-text-field name="email" v-model="email" label="Correo electrónico" />
        <v-text-field name="phone" v-model="phone" label="Teléfono" />
        <v-textarea
          name="message"
          label="Mensaje"
          v-model="mensaje"
        ></v-textarea>
        <v-btn type="submit" color="primary">{{($route.name == "Ser-Distribuidor") ? 'Enviar solicitud' : 'Enviar mensaje'}}</v-btn>
      </form>
    </v-container>
  </div>
</template>
<script>
import { sendContactForm } from "../../services/utils";

export default {
  data() {
    return {
      name: "",
      phone: "",
      email: "",
      mensaje: "",
      showError: false,
      showOk: false,
      msgError: 'Por favor complete todos los campos'
    };
  },

  methods: {
    async sendMessage() {
      let to = (this.$route.name == "Ser-Distribuidor") ? 15 : 14;
      if (
        this.name.trim() === "" ||
        this.phone.trim() === "" ||
        this.email.trim() === "" ||
        this.mensaje.trim() === ""
      ) {
        this.showError = true;
        return false;
      }

      try {
        const resp = await sendContactForm(
          to,
          this.name,
          this.email,
          this.phone,
          this.mensaje
        );

        if(resp == true) {
            
            this.showOk = true;
            this.showError = false;
            this.msgError = "Por favor complete todos los campos";
            this.name = '';
            this.phone = '';
            this.email = '';
            this.mensaje = '';
        }  else {
            this.showOk = true;
            this.showError = false;
            this.msgError = "Ha ocurrido un error en el sevidor, intentalo mas tarde.";
        }

      } catch (error) {
        console.log(error);
      }
    },
  },
  mounted(){
    console.log(this.$route);
  }
};
</script>

<style scoped>
  #contactPage {
    height: calc(100vh - 133px);
  }
</style>