<template>
  <div>
    <v-app>
      <HeaderComponent />

      <v-container>
        <div class="text-h2 text-center my-5">Error en servidor</div>
        <v-row align="center">
          <v-col cols="12" md="2">
            <img class="errorIcon" :src="errorIcon" alt="icon error" />
          </v-col>
          <v-col cols="12" md="10">
            <v-alert border="top" color="indigo" dark>
              Lamentamos este inconveniente. Te pedimos por favor, si tuviste
              algun cargo en tu tarjeta, comunicate con notros a través de
              whatsapp.
            </v-alert>
            <a class="whatsappIcon" href="https://wa.me/56232108264" target="_blank">
                <img :src="WhatsappIcon" alt="Whatsapp icon" />
            </a>
          </v-col>
        </v-row>
      </v-container>
    </v-app>
  </div>
</template>
<script>
import Header from "../Components/Header.vue";
import Footer from "../Components/Footer.vue";
import ErrorIcon from "../../assets/othersImages/error.png";
import WhatsappIcon from "../../assets/othersImages/whatsapp.png";

export default {
  metaInfo: {
    title: "Tarjeta locutorios",
    titleTemplate: "%s - Home",
    htmlAttrs: {
      lang: "es",
    },
  },
  data() {
    return {
      errorIcon: ErrorIcon,
      WhatsappIcon: WhatsappIcon
    };
  },
  components: {
    HeaderComponent: Header,
    FooterComponent: Footer,
  },
};
</script>

<style scoped>
    .errorIcon {
        width: 100%;
    }
    .whatsappIcon {
        width: 50px;
        display: block;
        margin: auto;
    }
    .whatsappIcon img {
        width: 100%;
    }
</style>
