<template>
  <div>
    <LayoutPage :showHeader="true" :showFooter="true" titlePage="Carrito">
      <v-container>
        <v-col v-if="sale" xs="12" md="12" lg="12">
          <div class="text-h2 text-center tex-primary">Compra rechazada</div>
          <v-row>
            <v-col cols="4">
              <div class="text-overline">
                Orden # {{ sale.data.id_operacion }}
              </div>
            </v-col>
            <v-col cols="8">
              <div class="text-overline text-right">
                Fecha # {{ sale.data.inicio }}
              </div>
            </v-col>
          </v-row>

          <v-row v-if="sale.data.decodeResult != null">
            <v-col cols="12">
              <div class="text-overline text-center">
                Tu compra ha fallado, la respuesta recepcionada por Webpay ha
                sido:
              </div>
              <div class="text-body-1 text-center text-primary">
                {{ sale.data.reasonFailed }}
              </div>
              <v-alert border="top" color="indigo" dark>
                Lamentamos este inconveniente. Te pedimos por favor, si tuviste
                algun cargo en tu tarjeta, comunicate con notros a través de
                whatsapp.
              </v-alert>
              <a
                class="whatsappIcon"
                href="https://wa.me/56232108264"
                target="_blank"
              >
                <img :src="WhatsappIcon" alt="Whatsapp icon" />
              </a>
            </v-col>
          </v-row>
          <v-row v-else>
            <v-col cols="12">
              <div class="text-overline text-center">
                Tu compra ha sido cancelada por ti
              </div>
              <div class="text-body-1 text-center text-primary">
                Webpay, te ha retornado a esta pagina porque haz cancelado la compra o tardaste mas de 5 minutos sin proceder la compra
              </div>
              <v-alert border="top" color="indigo" dark>
                Lamentamos este inconveniente. Te pedimos por favor, si tuviste
                algun cargo en tu tarjeta, comunicate con notros a través de
                whatsapp.
              </v-alert>
              <a
                class="whatsappIcon"
                href="https://wa.me/56232108264"
                target="_blank"
              >
                <img :src="WhatsappIcon" alt="Whatsapp icon" />
              </a>
            </v-col>
          </v-row>
        </v-col>
      </v-container>
    </LayoutPage>
  </div>
</template>
<script>
import Layout from "../Layout.vue";
import WhatsappIcon from "../../assets/othersImages/whatsapp.png";

export default {
  components: {
    LayoutPage: Layout,
  },
  computed: {},
  data() {
    return {
      WhatsappIcon: WhatsappIcon,
      sale: null,
    };
  },
  methods: {
    endCount() {
      this.showPage = true;
    },
  },
  mounted() {
    let data = this.$store.getters.getSale;
    console.log(data);

    if (!data) {
      this.$router.push("/500");
    }

    this.sale = data;
  },
};
</script>

<style scoped>
    .errorIcon {
        width: 100%;
    }
    .whatsappIcon {
        width: 50px;
        display: block;
        margin: auto;
    }
    .whatsappIcon img {
        width: 100%;
    }
</style>