<template>
  <div>
    <MainSlider />
    <GridProducts />
    <HowBuy />
    <HowUse />
    <FrequentQuestion/>
  </div>
</template>
<script>
import GridProduct from "../Components/GridProducts.vue";
import MainSlider from "../Components/MainSlider.vue";
import HowBuy from "../Components/HowBuy.vue";
import HowUse from "../Components/howuse.vue";
import FrequentQuestions from '../Components/FrequenQuestion.vue';
export default {
  metaInfo: {
    title: "Tarjeta locutorios",
    titleTemplate: "%s - Home",
    htmlAttrs: {
      lang: "es",
    },
  },
  data() {
    return {
      model: 0
    };
  },
  components: {
    GridProducts: GridProduct,
    MainSlider: MainSlider,
    HowBuy: HowBuy,
    HowUse: HowUse,
    FrequentQuestion: FrequentQuestions
  },
  mounted() {
    console.log(this.$route);
  },
};
</script>
