<template>
  <div>
    <LayoutPage :showHeader="true" :showFooter="true" titlePage="Carrito">
      <v-container>
        <v-row>
          <v-col xs="12" md="12" lg="12">
            <div class="text-h4">Validando tu compra</div>
            <countdown :time="5000" tag="p" @end="endCount">
                <template slot-scope="props">
                  <div class="text-h1 text-primary">
                    {{props.seconds}}
                  </div>
                  
                </template>
            </countdown>
            <div class="text-overline">Espera uno momento por favor</div>
          </v-col>
        </v-row>
      </v-container>
    </LayoutPage>
  </div>
</template>
<script>
import Layout from "../Layout.vue";

export default {
  components: {
    LayoutPage: Layout,
  },
  computed: {
    
  },
  data() {
    return {
      sale: null,
      showPage: false
    };
  },
  methods: {
      endCount(){
        this.showPage = true;
        this.sale = this.$store.getters.getSale;

        if(this.sale.data.estado == "3"){
          this.$router.push('/exito-compra');
        } else if(this.sale.data.estado == "5"){
          this.$router.push('/error-compra');
        }
      }
  },
  mounted(){
    let saleOrder = this.$cookies.get('lcsale');
    let saleCard = this.$cookies.get('lccard');

    this.$store.dispatch('getResultSaleAction', {orderId: saleOrder, cardId: saleCard});
  }
};
</script>

<style>

</style>