<template>
  <div>
    <LayoutPage :showHeader="true" :showFooter="true" titlePage="Carrito">
      <v-container>
        <v-row>
          <v-col v-if="sale" cols="12" xs="12" md="12" lg="12">
            <div class="text-h2 text-center tex-primary">Compra exitosa</div>
            <v-row>
              <v-col cols="12" md="4">
                <div class="text-overline">
                  Orden # {{ sale.data.id_operacion }}
                </div>
              </v-col>
              <v-col cols="12" md="8">
                <div class="text-overline text-right">
                  Fecha # {{ sale.data.inicio }}
                </div>
              </v-col>
            </v-row>

            <v-row>
              <v-col cols="12">
                <div class="text-overline text-center">TU TARJETA ES</div>
                <div class="text-sm-h1 text-md-1 text-center text-primary">
                  {{ sale.data.pin }}
                </div>
                <p class="font-weight-light">
                  Hemos enviado tu tarjeta al correo:
                  <strong>{{ sale.data.correo_cliente }}</strong
                  >, si tienes algun problema con tu compra, por favor
                  comunicate con nosotros via whastapp.
                </p>
                <a
                  class="whatsappIcon"
                  href="https://wa.me/56232108264"
                  target="_blank"
                >
                  <img :src="WhatsappIcon" alt="Whatsapp icon" />
                </a>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </v-container>
    </LayoutPage>
  </div>
</template>
<script>
import Layout from "../Layout.vue";
import WhatsappIcon from "../../assets/othersImages/whatsapp.png";

export default {
  components: {
    LayoutPage: Layout,
  },
  computed: {},
  data() {
    return {
      WhatsappIcon: WhatsappIcon,
      sale: null,
    };
  },
  methods: {},
  mounted() {
    let data = this.$store.getters.getSale;
    console.log(data);

    if (!data) {
      this.$router.push("/500");
    }

    this.sale = data;
  },
};
</script>
<style scoped>
.errorIcon {
  width: 100%;
}
.whatsappIcon {
  width: 50px;
  display: block;
  margin: auto;
}
.whatsappIcon img {
  width: 100%;
}
</style>