<template>
    <div>
      <LayoutPage :showHeader="true" :showFooter="true" titlePage="Webpay">
        <h3>Webpay</h3>
        
        <v-progress-circular
          :size="200"
          color="amber"
          indeterminate
          v-if="$store.getters.getWebpay === null"
        ></v-progress-circular>

        <form v-else method="post" :action="webpay.url">
            <input type="text" name="token_ws" :value="webpay.token" />
            <button type="submit">Ir</button>
        </form>
      </LayoutPage>
    </div>
</template>
<script>
import axios from 'axios';
import Layout from '../Layout.vue';

export default {
  components: {
    "LayoutPage": Layout
  },
  data() {
    return {
    };
  },
  methods: {
      getData(){
          
      }
  },
  computed: {
    webpay(){
      return this.$store.getters.getWebpay;
    }
  },
  mounted(){
    this.$store.dispatch('setWebpayAction');
  }
};
</script>