@font-face {
    font-family: 'ralewaylight';
    src: url('../assets/fonts/Hind-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fashion-fetish-regular';
    src: url('../assets/fonts/Fashion-Fetish-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'fashion-fetish-bold';
    src: url('../assets/fonts/FashionFetishBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}