<template>
  <div>
    <v-footer dark padless>
      <v-container>
        <v-row>
          <v-col cols="12">
            <v-card class="flex" flat tile>
              <v-row>
                <v-col style="text-align: center" xl="6" md="6" sm="12">
                  <img
                    class="footerBrandImage"
                    :src="brandImages.paymentSure"
                  />
                </v-col>
                <v-col style="text-align: center" xl="6" md="6" sm="12">
                  <img class="footerBrandImage" :src="brandImages.paymentWay" />
                </v-col>
              </v-row>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
    <a
      id="whatsappico"
      href="https://api.whatsapp.com/send?phone=56232108264"
      target="_BLANK"
    >
      <img :src="brandImages.iconWhatsapp" alt="wp icon" />
    </a>
  </div>
</template>
<script>
import paySure from "../../assets/othersImages/pago-seguro.png";
import paymentWay from "../../assets/othersImages/paymentway.png";
import iconWhatsapp from "../../assets/othersImages/whatsapp.png";

export default {
  data() {
    return {
      brandImages: {
        paymentWay: paymentWay,
        paymentSure: paySure,
        iconWhatsapp: iconWhatsapp,
      },
      icons: ["mdi-facebook", "mdi-whatsapp", "mdi-instagram"],
    };
  },
};
</script>
<style lang="sass">
.footerBrandImage{
  width: 250px
}

#whatsappico {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
}

#whatsappico img {
  width: 100%;
  height: 100%;
}
  
</style>