<template>
  <div id="frequent-question">
    <v-container>
      <div class="text-white text-md-h3 text-sm-h3 text-lighten text-center">Preguntas frecuentes</div>
      <v-row dense>
        <v-col cols="12">
          <v-expansion-panels focusable>
            <v-expansion-panel v-for="(item, i) in questions" :key="i">
              <v-expansion-panel-header>{{
                item.name
              }}</v-expansion-panel-header>
              <v-expansion-panel-content>
                {{ item.answer }}
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
export default {
  data() {
    return {
      questions: [
        {
          id: 1,
          name: "¿Puedo usarlo desde el celular y desde el teléfono fijo?",
          answer: "Sí, funciona desde un celular o un teléfono fijo.",
        },
        {
          id: 2,
          name: "¿Tiene costo llamar al numero de acceso?",
          answer:
            "sí, ocupará saldo de tu telefono la llamada a nuestro numero de acceso",
        },
        {
          id: 3,
          name: "¿Solo se puede usar desde Chile?",
          answer:
            "No, actualmente tenemos numeros de acceso en Chile y en Venezuela.",
        },
        {
          id: 4,
          name: "¿Cómo puedo saber el saldo que tengo y los minutos disponibles?",
          answer:
            "Al momento de hacer uso de tarjeta le indicara el saldo y minutos disponibles.",
        },
        {
          id: 5,
          name: "¿Cómo puedo ver el costo por minuto?",
          answer:
            "En nuestra pagina web tenemos listado de minutos que da tarjeta, según formato a los principales paises.",
        },
        {
          id: 6,
          name: "¿Cuánto tiempo dura la tarjeta?",
          answer:
            "Indistintamente del monto la tarjeta tiene duración de 30 dias desde su primer uso.",
        },
      ],
    };
  },
  methods: {},
  mounted() {},
};
</script>

<style scoped>
.howBuyItemImage {
  width: 100%;
}
#frequent-question {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(81, 0, 204);
  background: -moz-linear-gradient(
    198deg,
    rgba(81, 0, 204, 1) 0%,
    rgba(255, 5, 187, 1) 100%
  );
  background: -webkit-linear-gradient(
    198deg,
    rgba(81, 0, 204, 1) 0%,
    rgba(255, 5, 187, 1) 100%
  );
  background: linear-gradient(
    198deg,
    rgba(81, 0, 204, 1) 0%,
    rgba(255, 5, 187, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#5100cc",endColorstr="#ff05bb",GradientType=1);
}
#frequent-question .text-white {
  color: white;
  margin: 1rem 0 2rem;
  font-family: "fashion-fetish-bold" !important;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px){
  #frequent-question {
    height: auto;
  }
}
</style>