<template>
  <div id="productContainer">
    <v-container>
      <v-row v-if="products" dense>
        <v-col v-for="(item, i) in products" :key="i" xl="3" md="3" sm="12">
          <Product
            :name="item.title"
            :image="item.image"
            :serial="item.idprecio"
            :price="item.monto"
          />
        </v-col>
      </v-row>
      <v-row v-if="!products">
        <v-col v-for="inx in 4" :key="inx">
          <v-skeleton-loader type="card"></v-skeleton-loader>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script>
import Product from "./Product.vue";
export default {
  components: {
    Product: Product,
  },
  data() {
    return {};
  },
  computed: {
    products() {
      return this.$store.getters.getTarjetas;
    },
  },
  mounted() {
    this.$store.dispatch("setTarjetasAction");
  },
};
</script>

<style scoped>
#productContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: rgb(54, 0, 124);
  background: -moz-linear-gradient(
    346deg,
    rgba(54, 0, 124, 1) 0%,
    rgba(5, 119, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    346deg,
    rgba(54, 0, 124, 1) 0%,
    rgba(5, 119, 255, 1) 100%
  );
  background: linear-gradient(
    346deg,
    rgba(54, 0, 124, 1) 0%,
    rgba(5, 119, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#36007c",endColorstr="#0577ff",GradientType=1);

  /*-webkit-transform: skew(0, -4.76deg) translateY(calc(50vw / -12));
  -ms-transform: skew(0, -4.76deg) translateY(calc(50vw / -12));
  transform: skew(0, -4.76deg) translateY(calc(50vw / -12));*/
}
#productContainer .text-h3 {
  color: white;
  margin: 1rem 0 2rem;
  font-family: "fashion-fetish-bold" !important;
  font-weight: bold;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px){
  #productContainer{
    height: auto;
  }
}
</style>
