<template>
  <div>
    <v-app-bar app light fixed>
      <router-link :to="'/'">
        <v-img :src="logo_lc" max-width="100px"></v-img>
      </router-link>

      <v-spacer></v-spacer>

      <div v-if="!$isMobile()">
        <v-btn class="LcNavbar_item" to="/" :plain="!isActive('Home', '')" :text="isActive('Home', '')">
          Inicio
        </v-btn>
        <v-btn class="LcNavbar_item" to="/#howbuy" :plain="!isActive('HowBuy', '#howbuy')" :text="isActive('HowBuy', '#howbuy')">
          ¿Cómo comprar?
        </v-btn>
        <v-btn class="LcNavbar_item" to="/#howuse" :plain="!isActive('HowUse', '#howuse')" :text="isActive('HowUse', '#howuse')">
          ¿Cómo usar?
        </v-btn>
        <v-btn class="LcNavbar_item" to="/#frequent-question" :plain="!isActive('Fq', '#frequent-question')" :text="isActive('Fq', '#frequent-question')">
          Preguntas frecuentes
        </v-btn>
        <v-btn class="LcNavbar_item" to="/contacto" :plain="!isActive('Contact', '#con')" :text="isActive('Contact', '#con')">
          Contacto
        </v-btn>
        <v-btn class="LcNavbar_item" to="/quiero-ser-distribuidor" :plain="!isActive('Ser-Distribuidor', '#con')" :text="isActive('Contact', '#con')">
          Quiero ser distribuidor
        </v-btn>
      </div>
      <div v-if="$isMobile()">
          <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      </div>
      <v-btn to="/cart" icon>
          <v-icon>
              mdi-cart
          </v-icon>
      </v-btn>
    </v-app-bar>

    <v-navigation-drawer class="secondary" light v-model="drawer" absolute left temporary>
      <v-list-item>
        <v-list-item-content>
          <v-img style="margin: auto;" :src="logo_lc" max-width="100px"></v-img>
        </v-list-item-content>
      </v-list-item>

      <v-divider></v-divider>

      <v-list nav dense>
        <v-list-item-group
          v-model="group"
          active-class="deep-purple--text text--accent-4"
        >
          <v-list-item href="/">
            <v-list-item-title>Inicio</v-list-item-title>
          </v-list-item>
          <v-list-item href="/contacto">
            <v-list-item-title>Contacto</v-list-item-title>
          </v-list-item>
          <v-list-item href="/quiero-ser-distribuidor">
            <v-list-item-title>Quiero ser distribuidor</v-list-item-title>
          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-navigation-drawer>
  </div>
</template>
<script>
import LogoHeader from "../../assets/logo.svg";
import LogoLocutorios from '../../assets/logo_locutorios.png';
export default {
  data() {
    return {
      logo: LogoHeader,
      logo_lc: LogoLocutorios,
      drawer: false,
      group: false
    };
  },
  methods: {
    isActive(name, hash) {
      return this.$route.name === name || this.$route.hash === hash;
    },
  },
  mounted() {
    this.isActive();
  },
};
</script>
