<template>
  <div id="howbuy">
    <v-container>
      <div class="text-white text-md-h3 text-sm-h3 text-lighten text-center">¿Cómo comprar?</div>
      <v-row dense>
        <v-col class="imagenCon" xl="3" md="3" sm="12" v-for="(element, i) in steps" :key="i">
          <img class="howBuyItemImage" :src="element" />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import step1 from "../../assets/othersImages/howbuy1.jpg";
import step2 from "../../assets/othersImages/howbuy2.jpg";
import step3 from "../../assets/othersImages/howbuy3.jpg";
import step4 from "../../assets/othersImages/howbuy4.jpg";
export default {
  data() {
    return {
      steps: [step1, step2, step3, step4],
    };
  },
  methods: {},
  mounted() {},
};
</script>

<style scoped>
.howBuyItemImage {
  width: 100%;
}
#howbuy {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(0, 152, 204);
  background: -moz-linear-gradient(
    45deg,
    rgba(0, 152, 204, 1) 0%,
    rgba(159, 5, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(0, 152, 204, 1) 0%,
    rgba(159, 5, 255, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(0, 152, 204, 1) 0%,
    rgba(159, 5, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0098cc",endColorstr="#9f05ff",GradientType=1);
}
#howbuy .text-white {
    color: white;
    margin: 1rem 0 2rem;
    font-family: "fashion-fetish-bold" !important;
    font-weight: bold;
    text-transform: uppercase;
}

@media screen and (max-width: 1024px){
  #howbuy {
    height: auto;
  }

  .imagenCon {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
</style>