<template>
  <div id="howuse">
    <v-container>
      <div class="text-white text-md-h3 text-sm-h3 text-lighten text-center">¿Cómo usar?</div>
      <v-row dense>
        <v-col class="imagenCon"  v-for="(element, i) in steps" :key="i" xl="3" md="3" sm="12">
          <img class="howBuyItemImage" :src="element" />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script>
import step1 from "../../assets/othersImages/howuse1.jpg";
import step2 from "../../assets/othersImages/howuse2.jpg";
import step3 from "../../assets/othersImages/howuse3.jpg";
import step4 from "../../assets/othersImages/howuse4.jpg";
export default {
  data() {
    return {
      steps: [step1, step2, step3, step4],
    };
  },
  methods: {},
  mounted() {},
};
</script>

<style scoped>
.howBuyItemImage {
  width: 100%;
}
#howuse {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(0, 152, 204);
  background: rgb(204, 140, 0);
  background: -moz-linear-gradient(
    198deg,
    rgba(204, 140, 0, 1) 0%,
    rgba(255, 218, 5, 1) 100%
  );
  background: -webkit-linear-gradient(
    198deg,
    rgba(204, 140, 0, 1) 0%,
    rgba(255, 218, 5, 1) 100%
  );
  background: linear-gradient(
    198deg,
    rgba(204, 140, 0, 1) 0%,
    rgba(255, 218, 5, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc8c00",endColorstr="#ffda05",GradientType=1);
}
#howuse .text-white {
  color: white;
  margin: 1rem 0 2rem;
  font-family: "fashion-fetish-bold" !important;
  font-weight: bold;
  text-transform: uppercase;
}

.imagenCon img {
  width: 100%;
}

@media screen and (max-width: 1024px){
  #howuse {
    height: auto;
  }

  .imagenCon {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
</style>