<template>
  <div>
    <div class="d-flex justify-center" v-if="!images">
      <v-progress-circular
        :size="50"
        color="primary"
        indeterminate
      ></v-progress-circular>
    </div>
    <v-carousel cycle height="auto" v-if="images">
      <v-carousel-item
        class="mainslider__item"
        v-for="(ima, i) in images"
        :key="i"
      >
        <img :src="ima.image_url" :alt="'Imagen Banner ' + i" />
      </v-carousel-item>
    </v-carousel>
  </div>
</template>

<script>
import axios from "axios";

export default {
  data() {
    return {
      images: null,
    };
  },
  methods: {
    async getBanners() {
      const { data, status } = await axios.get(
        "https://dashboard.tarjetalocutorios.com/banners/getAviable"
      );

      if (status == 200) {
        this.images = data;
      }
    },
  },
  mounted() {
    this.getBanners();
  },
};
</script>

<style scoped>
.mainslider__item .v-responsive__content img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
</style>