<template>
  <div>
    <v-card class="mx-auto LcProduct">
      <v-img class="white--text align-end" :src="image"> </v-img>
      <v-card-text class="text--primary">
        <v-card-title class="LcProduct_title">{{name}}</v-card-title>
      </v-card-text>
      <v-card-actions>
        <v-btn @click="openPrices(price)" color="secondary" text>Mas informacion</v-btn>
        <v-btn @click="goToPayment(serial, price)" color="primary"> Comprar </v-btn>
      </v-card-actions>
    </v-card>
    <v-dialog max-width="280" v-model="warning">
      <v-card>
        <v-card-title class="text-h5">
          ¿Desea continuar?
        </v-card-title>
        <v-card-text>
          A continuación, procederemos a continuar la compra...
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="secondary"
            text
            @click="cancelBuy"
          >
            Cancelar
          </v-btn>

          <v-btn
            color="primary"
            text
            @click="nextStep"
          >
            Continuar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog max-width="600" v-model="showTarifa">
      <v-card>
        <div v-if="priceSelected">
          <img style="width: 100%;" :src="tarifas[priceSelected]" />
        </div>
        <v-card-actions>
          <v-spacer></v-spacer>

          <v-btn
            color="secondary"
            text
            @click="cancelTarifa"
          >
            Cancelar
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
import tarifa1000 from '../../assets/tarifas/1000.jpg';
import tarifa2000 from '../../assets/tarifas/2000.jpg';
import tarifa5000 from '../../assets/tarifas/5000.jpg';
import tarifa10000 from '../../assets/tarifas/10000.jpg';

export default {
    props: {
        name: String,
        price: Number,
        image: String,
        serial: Number
    },
    data() {
        return {
          warning: false,
          showTarifa: false,
          priceSelected: null,
          tarifas: {
            1000: tarifa1000,
            2000: tarifa2000,
            5000: tarifa5000,
            10000: tarifa10000
          }
        };
    },
    methods: {
      openPrices(amount){
        this.priceSelected = amount;
        this.showTarifa = true;
      },
      goToPayment(idPrice, ammount){
        this.warning = true;
        this.$store.dispatch('setCartAction', {...this.$store.getters.getCart, idprice: idPrice, price: ammount});
      },
      cancelTarifa(){
        this.showTarifa = false;
        this.priceSelected = null;
      },
      cancelBuy(){
        this.warning = false;
      },
      nextStep(){
        this.$router.push('/cart');
      }
    },
    mounted(){
    }
};
</script>

<style scoped>
    .text--primary {
        padding-left: 10px;
        padding-right: 10px;
    }
    .v-card__title {
        padding: 0;
    }
</style>
