<template>
  <LayoutApp :showHeader="true" :showFooter="true">
    <transition name="slide">
      <v-content>
        <router-view></router-view>
      </v-content>
    </transition>
  </LayoutApp>
</template>

<script>
import LayoutApp from './Layout.vue';
export default {
  components: {
    "LayoutApp": LayoutApp
  },
  data() {
    return {
    };
  },
};
</script>

<style>

</style>