<template>
  <div>
    <v-app>
        <HeaderComponent />
        <div id="contentapp">
            <slot />
        </div>
        <FooterComponent />
    </v-app>
  </div>
</template>
<script>
import Header from "./Components/Header.vue";
import Footer from "./Components/Footer.vue";
export default {
  name: "Layout",
  data() {
    return {
    };
  },
  props: {
    showHeader: Boolean,
    showFooter: Boolean
  },
  components: {
    HeaderComponent: Header,
    FooterComponent: Footer,
  },
  methods: {
  },
  mounted(){
  }
};
</script>
<style scoped>
  
</style>