@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
    font-family: 'ralewaylight';
    src: url('../assets/fonts/raleway.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

.v-card__title {
    font-family: 'ralewaylight';
}